<div class="navbar-inner">
  <div class="container">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="brand" href="#">Project Planner</a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li id="home" class="active"><a>Home</a></li>
        <li id="talks"><a>Talks</a></li>
        <li id="speaker"><a>Speaker</a></li>
      </ul>
    </div>
  <button class="btn btn-success pull-right" id="logoutButton">Logout</button>
  </div>
</div>
