<div id="leftOverview">
  test a
</div>

<div id="midOverview">

  <ul id="sortable0" class="droptrue sortable">
    <li class="ui-state-default">Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
  </ul>

</div>

<div id="rightOverview">
  <ul id="availableTalks" class="droptrue sortable">
    <li class="ui-state-default talksClass">Talk 1</li>
    <li class="ui-state-default talksClass">Talk 2</li>
    <li class="ui-state-default talksClass">Talk 3</li>
  </ul>
</div>
