<%
var getFormatedTimeLabel = function(step) {
  var mins = start + (unitSize * step);
  var h = Math.floor(mins / 60);
  mins %= 60;
  if (mins < 10) {
    mins = "0" + mins;
  }
  if (h < 10) {
    h = "0" + h;
  }
  return h + ":" + mins;
};

%>
<div id="leftOverview">
  Day 1<br>
  Day 2<br>
  Day 3<br>
</div>

<div id="midOverview">

  <table id="planTable" class="table">
    <thead>
      <th>Time</th>
      <%for(var i = 1; i <= tracks; i++) {%>
        <th>Track <%=i%></th>
      <%}%>
    </thead>
    <tbody>
      <%for(var row = 0; row < units; row++) {%>
        <tr id="<%=row %>">
          <td><%=getFormatedTimeLabel(row)%></td>
          <%for(var t = 0; t < tracks; t++) {%>
            <td id="<%=row + "_" + t%>"></td>
          <%}%>
        </tr>
      <%}%>
    </tbody>
  </table>
  
<!--
  
  <table id="planTable">
    <thead>
      <th>Time</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  
  <ul id="sortable1" class="droptrue sortable">
    Track 1
    <button id="newTrack" class="newTrack">Add track</button>
    <li class="ui-state-default">Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
  </ul>
-->
</div>

<div id="rightOverview">
  <ul id="availableTalks" class="droptrue sortable">
    Talks
  </ul>
</div>
