<div id="leftOverview">
  Day 1<br>
  Day 2<br>
  Day 3<br>
</div>

<div id="midOverview">

  <ul id="sortable1" class="droptrue sortable">
    Track 1
    <button id="newTrack" class="newTrack">Add track</button>
    <li class="ui-state-default">Item 1</li>
    <li class="ui-state-default">Item 2</li>
    <li class="ui-state-default">Item 3</li>
    <li class="ui-state-default">Item 4</li>
    <li class="ui-state-default">Item 5</li>
  </ul>

</div>

<div id="rightOverview">
  <ul id="availableTalks" class="droptrue sortable">
    Talks
  </ul>
</div>
