<h1><%= name %></h1>

<table id="<%= name %>">

  <thead>
    <tr><% for(var i = 1; i <= tracks; i++){ %>
      <th><%= "Track " + i %></th><% } %>
    </tr>
  </thead>

  <tbody>
    <% _.each(talks, function(k,v) { %>
    <tr>
      <td><%= k.name %>\n<%= k.content %></td>
    </tr>
    <%});%>
  </tbody>

</table>
